@media screen and (max-width: 800px) {
    /* NAVBAR */
    
    .navcontainer{
        position: absolute;
        margin-top: -430px;
        left: 0%;
    }
      
    .topnav {
        overflow: hidden;
        text-transform: uppercase;
    }
    
    .topnav a {
        font-weight: 500;
        font-size: 15px;
        padding: 10px 5px;
        padding-left: 20px;
        float: left;
    }

    /* HEADER */

    header::before{
        background-image: url("banner-mobile.jpg");
    }

    header h1{
        float:  none;
        display: block;
        text-align: center;
        position: absolute;
        line-height: 50px;
    
        margin-top: 70%;
        font-size: 40px;
        padding: -10px;
        margin-left:  0%;
        margin-right:  0px;
        padding-left: 10%;
        padding-right: 10%;

    }

    header h1{
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        float: none;
        letter-spacing: 3px;
        position: absolute;
        
        margin-top: -200px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 0px;
    }

    strong{
        font-size: 0px;
    }

    .underline{
        text-decoration: none;
    }
    
    header h3{
        top: 0;
    }
    
    header h2{
        top: 0;
    }
    
    header p{
        font-size: 0px;
    }

    .container2{
        height: 100%;
    }
    
    .p2{
        color: white;
        position: absolute;
        text-align: center;
        font-weight: 400;
        float: none;
        letter-spacing: 3px;
    
        margin-top: -95px;
        margin-left:  0%;
        margin-right:  0px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 20px;
        display: block;
    }

    /* IMAGES */

    .images{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .images img{
        height: 95%;
        padding: 10px;
        width: 95%;
    
        border-radius: 20px;
    }

    .works{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 5%;
        margin-right: 5%;
    }

    .card{
        display: block;
        margin: 20px;
        background-color: #111111;
        height: 95%;
        width: 95%;
        border-radius: 20px;
    }

    .card:hover{
        transform: scale(1);
        transition: transform 2s;
        transition: 0s;
        background-color: #111111;
    }

    .card2{
        display: block;
        margin: 20px;
        background-color: #111111;
        height: 95%;
        width: 95%;
        border-radius: 20px;
    }

    .card2:hover{
        transform: scale(1);
        transition: transform 2s;
        transition: 0s;
        background-color: #111111;
    }

    .card3{
        display: block;
        margin: 20px;
        background-color: #111111;
        height: 95%;
        width: 95%;
        border-radius: 20px;
    }

    .card3:hover{
        transform: scale(1);
        transition: transform 2s;
        transition: 0s;
        background-color: #111111;
    }

    .images img:hover{
        transform: scale(1);
        transition: transform 2s;
    }
}

@media screen and (max-width: 500px) {
    .topnav a {
        font-size: 12px;
    }

    header h1{
        font-size: 0px;
    }
}

@media screen and (max-width: 550px) {
    .social-menu ul li{
        list-style: none;
        margin: 0 5px;
    }
}

@media screen and (max-width: 300px) {
    .topnav a {
        font-size: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .works{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 5%;
        margin-right: 5%;
    }

    .offer{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .card{
        display: block;
        margin: 20px;
        background-color: #111111;
        height: 95%;
        width: 95%;
        border-radius: 20px;
    }

    .card:hover{
        transform: scale(1);
        transition: transform 2s;
        transition: 0s;
        background-color: #111111;
    }

    .images img:hover{
        transform: scale(1);
        transition: transform 2s;
    }
}

@media screen and (max-width: 1800px) {
    header h3{
        float: left;
        letter-spacing: 3px;
        position: absolute;
        font-size: 30px;
        margin-top: -80%px;
        margin-left: 50px;
    }

    header h1{
        font-size: 68px;
    }
    
    header h2{
        float: left;
        letter-spacing: 3px;
        position: absolute;
        font-size: 25px;
        margin-top: -80%px;
        margin-left: 50px;
    }

    header .p2{
        font-size: 0;
    }
}

@media screen and (max-width: 1150px) {
    .topnav a {
        font-size: 20px;
    }
}

@media screen and (max-width: 100px) {
    .topnav a {
        font-size: 10px;
    }
}